@font-face {
  font-family: 'comfortaa_light';
  src: url('/Users/deepprajapati/Desktop/Lets_Program/webd/AskaDoc/client/assets/fonts/comfortaa.light.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  --h1: #F2F2F2;
  --h2: #182628;
  --h3: #3B945e;
  --st: #57BA98;
  --bg: #65CCB8;
  background-color: var(--bg);
  margin: 0px;
}
.quote{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: var(--h2);
}